@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto&display=swap');

body{
    padding: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
    background: yellow;
}

.logo{
    display: flex;
    justify-content:flex-start;

}

.nav{
    display: flex;
    justify-content: space-between;
}

section{
    width: 100%;
    height: 900px;
    background: white;
}

.contenedor__navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contacto{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav ul li{
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 30px;
    height: 30px;
}

.cuerpo__superior{
    display: flex;
    justify-content: space-around;
    align-items: center;
}